<mat-toolbar>
  <span>NgxMatQuerySearch - v{{version}}</span>
  <span style="flex: 1 1 auto"></span>
  <a mat-button [href]="githubRepo">GitHub</a>
</mat-toolbar>
<div class="wrapper">
  <ngx-query-search>
    <query-fields>
      <query-field name="fullName" label="Full Name" type="string" tooltip="This is a tooltip for name!"></query-field>
      <query-field name="hasValues" label="Has Values" type="string" [values]="['a', 'b']"></query-field>
      <query-field name="birthday" label="Birthday" type="date" format="dd/MM/yyyy"></query-field>
      <query-field name="joinDay" label="Join Date" type="date" format="MM/dd"></query-field>
      <query-field name="slow" label="Slow" type="string" [values]="observableValues"></query-field>
    </query-fields>
  </ngx-query-search>
  <app-output [queryObject]="queryObject"></app-output>
</div>
