<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Query Builder">
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item (click)="loadDemoFilter()" *ngIf="!hasFilter">
        <mat-icon>file_upload</mat-icon>
        Load Demo Filter
      </button>
      <button mat-menu-item (click)="saveFilter()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-menu-item (click)="saveFilter()">
        <mat-icon>save</mat-icon>
        Save as..
      </button>
      <button color="warn" mat-menu-item *ngIf="hasFilter" (click)="deleteFilter()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-menu>

    <ngx-query-search [filterMenu]="filterMenu" (filterLoaded)="filterLoaded($event)">
      <query-fields>
        <query-field name="fullName" label="Full Name" type="string"
                     tooltip="This is a tooltip for name!"></query-field>
        <query-field name="hasValues" label="Has Values" type="string" [values]="['a', 'b']"></query-field>
        <query-field name="birthday" label="Birthday" type="date" format="dd/MM/yyyy"></query-field>
        <query-field name="joinDay" label="Join Date" type="date" format="MM/dd"></query-field>
        <query-field name="slow" label="Slow" type="string" [values]="observableValues"></query-field>
        <query-field name="maxLength" label="Max Length" type="number" [maxLength]="2"></query-field>
      </query-fields>
    </ngx-query-search>
  </mat-tab>
  <mat-tab label="Query Output">
    <mat-card>
      <mat-card-content>
        <h1 class="no-data" *ngIf="!queryObject">No data</h1>
        <ngx-json-viewer *ngIf="queryObject" [expanded]="false" [json]="queryObject"></ngx-json-viewer>
        <button mat-stroked-button *ngIf="queryObject" (click)="copyQueryOutput()">Copy to Clipboard</button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Filter Output">
    <mat-card>
      <mat-card-content>
        <h1 class="no-data" *ngIf="!currentFilter">No data</h1>
        <ngx-json-viewer *ngIf="currentFilter" [expanded]="false" [json]="currentFilter"></ngx-json-viewer>
        <button mat-stroked-button *ngIf="currentFilter" (click)="copyFilterOutput()">Copy to Clipboard</button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Filter Input">
    <mat-card>
      <mat-card-content>
        <app-input-raw-filter (generatedFilter)="provideParsedFilter($event)"></app-input-raw-filter>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
